html{
    background-color: #E9FFF9;
}

.navbar{
    margin-bottom: 0;
}

.body{
    display: flex;
    height: 100%;
    width: 100%;
    margin:0;
}

h2{
    color:white;
}



.inmueble figcaption {
    color: black;
}

.inmueble:hover{
    background-color: #467599;
    
}

.inmueble:hover figcaption{
    color:white;
}

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;

}

.categoria {
display: inline-block;
padding: 8px 20px;
margin-bottom: 1rem;
text-decoration:none;
}

.categoria:hover {
border-bottom: 3px solid #1d3354;
}